<div class="card" (click)="navigateToProjetoAndStorageData()">
    <div class="card-image" [style]=cardCoverStyle>
    </div>
    <div class="card-body">
        <div class="card-body-header">
            <div class="bullet-tag-projeto-status" [style]=bulletStatusColorStyle></div>
            <h4 class="card-title">{{projeto.nome}}</h4>
        </div>
        <span class="date-label">{{projeto.dataInicio}} - {{projeto.dataPrazo}}</span>
        <app-progress-bar-projeto [progress]=projeto.progress/>
    </div>
</div>
