.base-form-body {
  display: flex;
  width: 100%;
  height: fit-content;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.input_container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input_label {
  color: var(--black2);
  font-family: Lexend;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 35.2px;
}

.input_field {
  height: 2.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--black2);
  background: var(--gray5);
  font-family: Lexend;
  font-size: 1rem;
  transition: all 0.2s;
  padding-left: 1rem;
}

.input_field::placeholder {
  color: var(--gray2);
  font-family: Lexend;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 26.4px;
}

.input_field:focus {
  background: var(--white);
}
