/* You can add global styles to this file, and also import other style files */
:root {
  /* brand */
  --primary: #5a50f2;
  --secondary: #9696ff;
  --tertiary: #ff7077;

  /* input field focus */
  --inputFocus: #ff7e78;

  /* background */
  --background: #fcfcfc;
  --background2: #fff5ea;

  /* complementary */
  --complementary: #ffc6c8;
  --complementary2: #ffb500;

  /* labels */
  --black1: #171723;
  --black2: #2a2a41;
  --white: #ffffff;
  --gray1: #00000040;

  /* gray */
  --gray1: #81838b;
  --gray2: #b1b2be;
  --gray3: #e0e0e0;
  --gray4: #f0f0f0;
  --gray5: #f6f6f6;

  /* other colors */
  --lightPink: #ffc6c8;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}