/* You can add global styles to this file, and also import other style files */
:root {
  --primary: #5a50f2;
  --secondary: #9696ff;
  --tertiary: #ff7077;
  --background: #fcfcfc;
  --background2: #fff5ea;
  --black2: #171723;
  --gray1: #00000040;
}
