.project-type-label {
    display: flex;
    align-items: center;
    display: flex;
    width: 79.4375rem;
    justify-content: center;
    align-items: flex-end;
    gap: 0.625rem;
}
  
.icon {
    width: 35;
    height: 25px;
    margin-right: 8px;
}
  
.status-label {
    font-size: 20px;
    font-weight: bold;
    font-family: Lexend;
    font-weight: 400;
    line-height: 26.40px;
    color: #2A2A41;
}