<main class="main">
  <app-navigation-bar [hasSelectedProject]="true"></app-navigation-bar>
  <app-base-input
    label="Username"
    type="text"
    placeholder="Enter your username"
    id="username"
    name="username"
  />
  <app-project-card-empty-state> </app-project-card-empty-state>
  <app-participant name="Thomas" role="gerente"></app-participant>
  <app-participant name="Luas" role="unidade envolvida"></app-participant>
  <app-participant name="Julia"></app-participant>
</main>
<router-outlet />
